.cover {
    font-family: 'Noto Serif TC', serif;
    font-size: 64px;
}

a,
p,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Noto Serif TC', serif;
    text-decoration: none;
}

@media screen and (max-width: 639px) {
    h1.title {
        font-size: 26px;
    }
}


/* fullScreenBurger */

.site {
    position: relative;
}

.nav-menu {
    position: fixed;
    /* z-index: 999; */
}